:root {
  --main-color: #5486b7;
  --sec-color: #26537F;
  --third-color: #73a5d6;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
p {
	line-height: 21px;
}
.linkedin {
	color: white;
}
button.link {
	background-color: var(--main-color);
	color: white;
	border: none;
}
button.link:hover {
	background-color: var(--sec-color);
	color: white;
	transition: 0.3s;
}
main {
	flex: 1 0 auto;
}
#wip h2 {
	width: 100%;
    background-color: var(--sec-color);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#main-content {
	margin-left: 3vw;
	margin-right: 3vw;
}
.underlined {
	border-bottom: 3px var(--sec-color) solid;
	display: inline-block;
}
.part1 {
	background-color: var(--sec-color);
	color: white;
}
.footer-copyright {
	background-color: var(--main-color)!important;
	color: white;
}
.page-footer {
	background-color: var(--third-color);
	color: white;
	padding-top: 0;
}
.third {
	background-color: var(--sec-color)!important;
}
.copyright-left {
	margin-left: 3vw;
	display: inline-block;
}
.copyright-right {
	display: inline-block;
	margin-right: 3vw;
	position: absolute;
	right: 0;
}
.footer-middle {
	margin: 0!important;
	padding: 0!important;
}
.menu-right, #skills, #experience, #projets, #contact {
	display: none;
}
.logo {
	font-weight: bold;
	color: var(--sec-color);
}
